@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
    overflow-x: hidden;
}

section{
    position: relative;
}

.slideshow-container {
    position: absolute;
    max-width: 100%;
    height: 75vh;
    top: 70%;
    max-height: 55vh;
    padding: 0;
    margin: 0;
}

.dotSection {
    position: absolute;
    bottom: -33%;
    left: 47%;
}

.dot {
    cursor: pointer;
    height: 9px;
    width: 9px;
    margin: 0 2px;
    background-color: #1e5b88;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #0093FF;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}

.imageS {
    width: 100vw;
    height: 75vh;
}
